// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */
@import '_reset';
@import '_colors';


/*
  ========================================
  Grid
  ========================================
*/

.container {
    max-width: 100%;
}

.grid-left {
    width: 47%;
    margin-left: 1.5%; 
    float: left;
    margin-top: 20px;
}

.grid-right {
    width: 47%;
    margin-right: 1.5%;
    float: right;
    margin-top: 37px;
}

body {
    background-color: $ltgrey;
}

section {
    max-width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}
/*
  ========================================
  Typography
  ========================================
*/

h1, span.project-txt {
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 700;
    color: $dkblue;
    font-size: 1rem;
}

li {
  font-family: "lato",sans-serif;
  color: $dkgrey;
  font-size: 0.875rem;
  display: inline;
}

h2, .login-button, .button {
  font-family: "lato",sans-serif;
  color: $dkblue;
  font-weight: bold;
  font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: $dkgrey;
}

span {
    color: $orange;
}

span.project-txt {
    font-size: 0.875rem;
    line-height: 0.5;
}

p {
    font-family: "lato",sans-serif;
      color: $dkgrey;
      font-weight: light;
      font-size: 0.8rem;
      line-height: 1.4;
}
    /*
  ========================================
  Clear Fix
  ========================================
*/

.clear-fix {
    clear: both;
}

/*
  ========================================
  Header
  ========================================
*/

header {
    max-width: 100%;
    height: 100px;
    background-color: $ltblue;
        .logo {
            display: block;
            text-align: center;
            img {
                margin-top: 35px;
                overflow: hidden;}
        }
}

nav {
    margin-top: 50px;
    text-align: center;
    font-color: $dkgrey;
}

    /*
  ========================================
  Home
  ========================================
*/

section.index {
    max-width: 100%;
}

.screenshot {
    margin-top: 30px;
    h2 {
        margin-left: 20px;
        margin-bottom: 2px;}
}

/*
  ========================================
  Login/Sign Up/Submit Project/Submit Pitch
  ========================================
*/

.grey-rectangle {
    max-width: 80%;
    background-color: $dkgrey;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 30px 0;
    input {
        background-color: $ltgrey;
        border-radius: 5px;
          border: solid 3px $ltblue;
          text-align: center;
          padding: 5px;
          display: block;
          margin: 20px auto;
    }
    .buttons {
        text-align: center;
        max-width: 100%;
        .button {
            background-color: $ltgrey;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            margin: 20px 10px;}
        .sign-up, .submit {
            color: $green;
              border: solid 2px $green;}
          .login {
              color: $orange;
              border: solid 2px $orange;}    
          a .signup-text, .submit-text {
            vertical-align: middle;
            color: $green;
            margin-top: 25px;}     
        .login-text {
            vertical-align: middle;
            margin-top: 25px;
            color: $orange;}
    }
}    


/*
  ========================================
  Project Page
  ========================================
*/
section {
     h1 {
        margin-top: 30px;}
    img {
        display: block;
        margin: 2px auto;}
}

/*
  ========================================
  Success Page
  ========================================
*/

section.success {
    img {
        margin-top: 15px;}
    p {
        color: $green;
        text-align: center;
        font-size: 2rem;
        margin-top: 10px;
    }

}

/*
  ========================================
  Pitch Page
  ========================================
*/

section.pitch-page {
    margin-top: 30px;
    div {
        margin-top: 10px;
        padding: 3px;
        &:nth-of-type(2n) {
        background-color: $green;}
    }
    h1 {
        margin-top: 0;}
    
}