<!DOCTYPE html>
<html>
<head>
	<title>Backreact</title>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<script src="//use.typekit.net/dmg7hzi.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div id='container'>

	</div>
	<%= javascript_include_tag 'application' %>
</body>
</html>
